#Question
{
	width: 60%;
}
#Question
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #be2253;
padding: 10px;
float: none;
text-align: left;
}
body{
	background-color: #22df09;
}